// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Auth page variables
$auth-text-base: #afb6c2;
$auth-text-title: #d4ccb6;
$auth-background: #191816;
$auth-form-background: #24221f;
$auth-primary-color: #ffc632;

// News feed variables
$news-feed-smoky-black: #0c0c0c;
$news-feed-raisin-black: #222222;
$news-feed-lapis-lazuli: #21759b;
$news-feed-dark-medium-gray: #a9a9a9;
$news-feed-cornell-red: #bb1919;
$news-feed-anti-flash-white: #f1f1f1;
$news-feed-very-light-gray: #e2e2e2;
$news-feed-gray80: #cccccc;

// Colors
$red: red;
$white: #ffffff;
$cornflowerblue: cornflowerblue;
$light-gray: #ddd;
$primary-blue: #0779e4;
$black: black;